.CheckboxWrapper {
  position: relative;
  display: flex;
  gap: 13px;
  text-align: left;
}

.checkbox {
  width: 18px;
  height: 18px;
  &[type="checkbox"] {
    appearance: none;
    border: 2px solid #aeaeae;
    border-radius: 2px;
    position: relative;

    &:checked {
      background-color: #b5cc22;
      border-color: #b5cc22;
      &::after {
        content: "\2714";
        font-size: 12px;
        position: absolute;
        top: 0;
        left: 3px;
        font-size: 12px;
        color: #fff;
        text-align: center;
      }
    }
  }
}
