.header {
  width: 100%;
  height: 104px;
  border-bottom: 1px solid #ebebeb;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.headerLeft {
  margin-left: 124px;
  display: flex;
  align-items: center;
  gap: 60px;
  .youbikeLogo {
    width: 95px;
    height: 95px;
    cursor: pointer;
  }
  .navItem {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    li:nth-child(3) {
      color: #b5cc22;
    }
  }
}

.signinButton {
  justify-self: flex-end;
  margin-right: 124px;
  padding: 8px;
  width: 85px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #b5cc22;
  border-radius: 100px;
  background-color: #b5cc22;
  color: #fff;
  line-height: 20px;
  cursor: pointer;
}
